*{
    margin:0;
    padding:0;
    color: #000;
}
a{
    text-decoration: none;
    transition: all .3s;
}
a:hover{
    color:orange;
}
.header{
    width:100%;
    display:flex;
    height: 80px;
    align-items:center;
    border-bottom:1px solid #f2f2f2;
}
.nav-bar{
    margin:auto;
    display:flex;
    width:70%;
    justify-content:space-between;
}
.nav-left{
    width: 40%;
    display:flex;
}
.nav-right{
    width:20%
}
#logo{
    width:10%;
}
.search-bar{
  display:flex;
  margin-left: 10px;  
  align-items:center;
  width:90%;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  border-radius: 5px
}
#search{
    display:inline-block;
    height: 30px;
    padding-left: 10px;
    width:50%;
    border:none;
}
#date{
    display:inline-block;
    height: 30px;
    width:25%;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    border-left: 2px solid #555; 
    background-color: #fff;
}
#search-btn{
    display:inline-block;
    height: 30px;
    width:10%;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    border-radius: 5px;
    background-color: #555;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#login{
    width:50%;
    text-align: center;
}
#register{
    text-align: center;
}

