.container{
    width: 80%;
    margin:auto;
}
.boxes{
    margin:auto;
}
.filter{
    margin-top: 20px;
    display:flex;
    justify-content:space-between;
    line-height:40px;
}
#total{
    font-size:30px;
    font-weight: bold;
}
#filter{
    border:1px solid #e4e1e1;
    border-radius:4px;
    width:15%;
    display:flex;
    align-items:center;
    text-align:center;
    padding: 5px;
}
#filter span{
    display:inline-block;
    width:30%;
    margin-left: 20px;
}
#filter select{
    display:inline-block;
    width:70%;
    height:30px;
    border:none;
    border-left: 1px solid #f2f2f2;
    text-align:center;
}
.boxes{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#box{
    width:19%;
    margin-top: 20px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
#box a:hover .image{
    opacity: 0.3;
}