*{
    margin:0;
    padding:0;
    color: #000;
}
a{
    text-decoration: none;
    transition: all .3s;
}
a:hover{
    color:orange;
}
.header{
    width:100%;
    display:flex;
    height: 80px;
    align-items:center;
    border-bottom:1px solid #f2f2f2;
}
.nav-bar{
    margin:auto;
    display:flex;
    width:70%;
    justify-content:space-between;
}
.nav-left{
    width: 40%;
    display:flex;
}
.nav-right{
    width:20%
}
#logo{
    width:10%;
}
.search-bar{
  display:flex;
  margin-left: 10px;  
  align-items:center;
  width:90%;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  border-radius: 5px
}
#search{
    display:inline-block;
    height: 30px;
    padding-left: 10px;
    width:50%;
    border:none;
}
#date{
    display:inline-block;
    height: 30px;
    width:25%;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    border-left: 2px solid #555; 
    background-color: #fff;
}
#search-btn{
    display:inline-block;
    height: 30px;
    width:10%;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    border-radius: 5px;
    background-color: #555;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#login{
    width:50%;
    text-align: center;
}
#register{
    text-align: center;
}
/*slideshow*/
* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*footer*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}

.sidenav {
    width: 400px;
    height: 150px;
    position: sticky;
    float: right;
    z-index: 1;
    top: 20px;
    right: 230px;
    background: #eee;
    overflow-x: hidden;
    padding: 10px 0px 18px 18px;
}

.sidenav p {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 30px;
    display: block;
    right: 50%;
}

.sidenav button {
    margin:auto;
    display:block;
    padding:16px 32px;
    font-family:helvetica;
    font-size:16px;
    font-weight:100;
    color:#fff;
    background: #587286;
    border:0;
    font-weight:100;
}
.button:hover {
    background:linear-gradient(to bottom, #ce0100 5%, #cc3929 100%);
    background-color:#ce0100;
}
.button:active {
    position:relative;
    top:1px;
}

.overview {
    margin-left: 200px; /* Same width as the sidebar + left position in px */
    margin-right: 640px;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}